app = 'victron-monitor'
primary_region = 'lhr'

[build]
  dockerfile = "Dockerfile.fly"
  [build.args]
    VITE_API_URL = "https://victron-monitor-api.fly.dev"

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = 'suspend'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
