app = 'victron-monitor-api'
primary_region = 'lhr'

[build]

[env]
  DATABASE_URL = "sqlite:///data/victron.db"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1

[mounts]
  source = "victron_data"
  destination = "/app/data"
